microservice4net/obj/*
microservice4net/bin/*
MicroService4Net.Example/obj/*
MicroService4Net.Example/bin/*
MicroService4Net/bin/*
MicroService4Net/obj/*
packages/*
.hg/*
.hgignore
MicroService4Net.sln.DotSettings.user
.vs/MicroService4Net/v14/.suo
MicroService4Net.Example/MicroService4Net.Example.csproj.user
MicroService4Net.Example.FromNuget/bin/*
MicroService4Net.Example.FromNuget/obj/*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
